.wrapper {
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-rows: auto repeat(4, 1fr);
  grid-template-areas:
    "h  h  h  h"
    "mc cp cp cp"
    "mc cp cp cp"
    "mc cp cp cp"
    "mc i  i  i";
}

.map-container {
  grid-area: mc;
}

.control-panel {
  grid-area: cp;
  background-color: white;
}

.header {
  grid-area: h;
  background-color: white;
}
