.gridsquare {
  border: 1px solid gray;
}

td {
  height: 8px;
  position: relative;
}

td:hover {
  outline: 1px solid purple;
  /* content: "";
  position: absolute;
  left: 0;
  top: 0px; */
  /* height: 20px;
  background-color: #ffa;
  width: 20px; */
}
